!!!html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/main.css")
        link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.css")
        link(rel="stylesheet", href="/static/components/leaflet.draw/dist/leaflet.draw.css")
        link(rel="stylesheet", href="/static/components/bootstrap/css/bootstrap.min.css")
    body
        #map
        script(src="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.js")
        script(src="http://code.jquery.com/jquery-1.10.1.min.js")
        script(src="/static/components/leaflet.draw/dist/leaflet.draw.js")
        script(src="/static/components/bootstrap/js/bootstrap.min.js")
        script(src="/static/main.js")
    